@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap");
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "EB Garamond", serif;
	background-image: url("../assets/img/texture.jpg");
	background-size: cover;
	background-position: center center;
	padding: 150px 100px;
	text-shadow: -1px 0px 7px rgba(27, 27, 27, 0.64);
	cursor: none;
}
header {
	display: flex;
	max-width: 1578px;
	margin: auto;
	justify-content: space-between;
	align-items: center;
}
.tel {
	position: relative;
	width: 200px;
	color: #181a1b;
	font-size: 50px;
	height: 60px;
}
.one {
	font-size: 28px;
}
.min-num {
	position: absolute;
	bottom: 14px;
	left: 4px;
	font-size: 30px;
}
.five {
	position: relative;
	left: 50px;
}
.base {
	position: absolute;
	left: 152px;
	bottom: 0;
}
.up-l {
	position: absolute;
	left: 130px;
	bottom: 5px;
}
.up-r {
	position: absolute;
	left: 173px;
	bottom: 6px;
}
.up-r-e {
	font-size: 30px;
	position: absolute;
	bottom: 16px;
}
.right-top {
	display: flex;
	font-weight: 500;
	justify-content: space-between;
	color: rgb(51, 54, 56);
}
.fl {
	font-size: 30px;
}
.and {
	font-size: 40px;
	margin: 12px 15px 0 15px;
}
.fl::first-letter {
	font-size: 50px;
}
.down {
	font-weight: 400;
}
.down .fl,
.down .and {
	font-size: 20px;
}
.down .fl:first-child {
	margin-right: 5px;
}
.down .fl::first-letter {
	font-size: 30px;
}
.surname {
	padding-left: 10px;
	font-size: 50px;
}
main {
	font-weight: 500;
	color: rgb(25, 27, 27);
	display: flex;
	margin: 220px 0 240px 0;
	justify-content: center;
}
.job-title {
	display: flex;
	justify-content: center;
}
.job-title p:first-child {
	margin-right: 10px;
}
footer .fl {
	font-size: 25px;
	margin-right: 10px;
}
.text {
	font-size: 25px;
	margin-top: 0px;
}
.sep {
	margin-left: 10px;
}
.bottom {
	display: flex;
	align-items: center;
	color: rgb(39, 37, 43);
	justify-content: center;
}
.bottom .fl::first-letter {
	font-size: 40px;
}
.fl-num {
	font-size: 40px;
	margin-right: 10px;
	position: relative;
}
.bot-num {
	position: absolute;
	left: -35px;
	bottom: -10px;
}
.bigger {
	font-size: 40px;
}
